@import url('https://fonts.googleapis.com/css?family=Lobster|Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin:0px;
    background-color: lightskyblue;
}
main{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 70px;

}

#create-user{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    font-family: 'Montserrat', sans-serif;

    color: black;
}

#current-user-select{
    display:flex;
    flex-direction: column;
}


#sign-up-button{
    margin-left: 10px;
}
.page-header{
    display: flex;
    justify-content: center;
    background-color: yellow;
    font-family: 'Lobster', cursive;
    width:100%;
    top:0;

}

nav{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}
#nav-bar{
    list-style: none;
    display:flex; 
    justify-content: center;
    background-color:black;
    color: white;
    margin-top:0px;
    padding-top:5px;
    margin-bottom: 0px;
    height: 50px;
    padding-right: 5%;


}
.nav-option{
    cursor: pointer;
    width: 20%;
    text-align: center;
}


#new-user-nav{
    padding-bottom:5px;

}

#forms-container{
    display:flex; 
    justify-content: center;
    flex-direction: column;
    margin-right: 10rem;
}
#new-user-form{
    display:flex;
    color: white; 
    text-align:center;
}


.featured-animal-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;


}

#featured-animal{
    display:flex;
    align-items: center;
    flex-direction: column;
}
#featured-animal-h2{
    padding-bottom: 2%;
    display:flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}
#featured-animal-image{
    height:28rem;
    border-radius: 50px;
    position:static;
}
#featured-animal-info{
    display:flex; 
    flex-direction: column;
    padding-top: 2%;
    margin-left: 10rem;
}


#footer {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    background-color: gray;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

#footer p {
    margin: 0px;
}
