@import url('https://fonts.googleapis.com/css?family=Lobster|Zhi+Mang+Xing&display=swap');

body{
    margin:0px;
    background-color: lightskyblue;
}

.user-header{
    display: flex;
    justify-content: center;
    background-color: yellow;
    font-family: 'Zhi Mang Xing', cursive;
    font-family: 'Lobster', cursive;
}